<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhuang.infrastructure.persistent.dao.AwardDao">
    <resultMap id="AwardResultMap" type="com.bhuang.infrastructure.persistent.po.Award">
        <id property="id" column="id" />
        <result property="awardId" column="award_id" />
        <result property="awardKey" column="award_key" />
        <result property="awardConfig" column="award_config" />
        <result property="awardDesc" column="award_desc" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="selectById" resultMap="AwardResultMap">
        SELECT * FROM award WHERE id = #{id}
    </select>
    <select id="selectAll" resultMap="AwardResultMap">
        SELECT * FROM award
    </select>
    <insert id="insert" parameterType="com.bhuang.infrastructure.persistent.po.Award" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO award (award_id, award_key, award_config, award_desc)
        VALUES (#{awardId}, #{awardKey}, #{awardConfig}, #{awardDesc})
    </insert>
    <update id="update" parameterType="com.bhuang.infrastructure.persistent.po.Award">
        UPDATE award SET 
            award_id=#{awardId}, 
            award_key=#{awardKey}, 
            award_config=#{awardConfig}, 
            award_desc=#{awardDesc}, 
            update_time=NOW() 
        WHERE id=#{id}
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE FROM award WHERE id = #{id}
    </delete>
</mapper>
